<div class="container">
  <form [formGroup]="formGroup">
      <mat-grid-list cols="3" rowHeight="60px">
        <mat-grid-tile>
          <mat-form-field appearance="outline">
            <mat-label>x</mat-label>
            <input matInput type="number" formControlName="x" >
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field appearance="outline">
            <mat-label>y</mat-label>
            <input matInput type="number" formControlName="y">
          </mat-form-field>
        </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field appearance="outline">
          <mat-label>total</mat-label>
          <input matInput type="number" formControlName="total">
        </mat-form-field>
        <button mat-raised-button class="trash"
          (click)="remove()"
          type="button"
          matTooltip="Remove?"
        ><i class="fa-solid fa-trash-can"></i></button>
      </mat-grid-tile>
    </mat-grid-list>
  </form>
</div>
