.margin-25px {
  margin: 25px;
}
.margin-15px {
  margin: 15px;
}

.info-icon {
  margin-left: 15px;

}
.info-icon:hover {
  cursor: pointer;
}

.submit {
  float: right;
  margin-right: 25px;
}

//css clears
li {
  list-style-type:none;
}
