<mat-toolbar color="primary">
Manage Custome Drivers
</mat-toolbar>
<br />
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <mat-card class="margin-25px">
    <mat-card-content>
      <mat-grid-list cols="3" rowHeight="35px">
        <mat-grid-tile>
          <span class="title">X:</span>
        </mat-grid-tile>
        <mat-grid-tile>
          <span class="title">Z:</span>
        </mat-grid-tile>
        <mat-grid-tile>
          <span class="title">Total:</span>
          <span
            class="info-icon"
            [matTooltip]="behaviorInfoDetails"
          ><i class="fa-regular fa-circle-question"></i></span>
        </mat-grid-tile>
      </mat-grid-list>
      <li *ngFor="let driver of drivers.controls; index as i">
        <app-driver [formGroup]="asFg(driver)" [formIndex]="i" (delete)="deleteDriver(i)"></app-driver>
      </li>
    </mat-card-content>
    <mat-card-footer>
      <button mat-raised-button type="button" class="margin-15px" color="primary" (click)="addDriver()">
        + Add New Custome Driver
      </button>
    </mat-card-footer>
  </mat-card>

  <button mat-raised-button type="submit" class="margin-15px submit" color="accent" >
    Save and Update Data >
  </button>
</form>
